//@charset "ISO-8859-1";

.tabs {
	/* background-color : #509EDA; */
	padding-left: 15px;
	padding-right: 15px;
	
}

section
{
}

article, aside
{
    text-align: justify;
}


aside
{
	border: 2px solid #00a9fb;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #1c1a19;
	padding-left: 10px;
	max-height: 220px;
	margin-top: 100px;
	
}


#titre_aside
{
	color: #229bdd;
	font-weight: bold;
}

.slide {
	background-image:linear-gradient(rgba(23,70,227,0.7), rgba(23,70,227,0));
	height:400px;
	width:100%;
	z-index: 9;
	position:absolute;
	top: 0;
	left: 0;
}

#article {
	height: 400px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width:none; /* cache la scrollbar dans Mozilla */
}

/* cache la scrollbar webkit */
#article::-webkit-scrollbar { width: 0 !important }

.illustration {
}

.texte-plat{
}

.carousel-control-prev {
	z-index:10;
}

.carousel-control-next {
	z-index:10;
}


footer {
	background-image:linear-gradient(rgba(182,184,191,0), rgba(182,184,191,1));
	background-color: black;
	height: 50px;
	color: white;
}

.menu-element
{
	margin-top: 20px;
	margin-bottom: 20px;
}

li {
	background-color : #509EDA;
}